<?xml version="1.0"?>
<config>
    <modules>
        <SnowCommerce_CMSBlockManagement>
            <version>0.1.1</version>
        </SnowCommerce_CMSBlockManagement>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <sc_cmsblockmanagement>
                    <file>sc_cmsblockmanagement.xml</file>
                </sc_cmsblockmanagement>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <blockmanagement_impexp>
                                            <title>Block Management - All</title>
                                        </blockmanagement_impexp>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <sc_cmsblockmanagement before="Mage_Adminhtml">SnowCommerce_CMSBlockManagement_Adminhtml</sc_cmsblockmanagement>
                    </modules>
                </args>
            </adminhtml>
            <sc_cmsblockmanagement>
                <use>standard</use>
                <args>
                    <module>SnowCommerce_CMSBlockManagement</module>
                    <frontName>sc_cmsblockmanagement</frontName>
                </args>
            </sc_cmsblockmanagement>
        </routers>
    </admin>
    <global>
        <models>
            <sc_cmsblockmanagement>
                <class>SnowCommerce_CMSBlockManagement_Model</class>
                <resourceModel>sc_cmsblockmanagement_mysql4</resourceModel>
            </sc_cmsblockmanagement>
            <sc_cmsblockmanagement_mysql4>
                <class>SnowCommerce_CMSBlockManagement_Model_Mysql4</class>
                <entities>
                    <versions>
                        <table>sc_cmsblockmanagement_versions</table>
                    </versions>
                    <labels>
                        <table>sc_cmsblockmanagement_labels</table>
                    </labels>
                </entities>
            </sc_cmsblockmanagement_mysql4>
            <sc_cmsblockmanagement_system>
                <class>SnowCommerce_CMSBlockManagement_Model</class>
            </sc_cmsblockmanagement_system>
        </models>
        <blocks>
            <sc_cmsblockmanagement>
                <class>SnowCommerce_CMSBlockManagement_Block</class>
            </sc_cmsblockmanagement>
            <adminhtml>
                <rewrite>
                    <cms_block>SnowCommerce_CMSBlockManagement_Block_Adminhtml_Cms_Block</cms_block>
                    <cms_block_grid>SnowCommerce_CMSBlockManagement_Block_Adminhtml_Cms_Block_Grid</cms_block_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <sc_cmsblockmanagement>
                <class>SnowCommerce_CMSBlockManagement_Helper</class>
            </sc_cmsblockmanagement>
        </helpers>
        <resources>
            <sc_cmsblockmanagement_setup>
                <setup>
                    <module>SnowCommerce_CMSBlockManagement</module>
                </setup>
            </sc_cmsblockmanagement_setup>
            <sc_cmsblockmanagement_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sc_cmsblockmanagement_write>
            <sc_cmsblockmanagement_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sc_cmsblockmanagement_read>
        </resources>
        <events>
            <model_save_after>
                <observers>
                    <sc_cmsblocksaving>
                        <type>singleton</type>
                        <class>SnowCommerce_CMSBlockManagement_Model_Observer</class>
                        <method>SaveBlockVersion</method>
                    </sc_cmsblocksaving>
                </observers>
            </model_save_after>
            <model_save_before>
                <observers>
                    <sc_cmsblocksaving>
                        <type>singleton</type>
                        <class>SnowCommerce_CMSBlockManagement_Model_Observer</class>
                        <method>SaveBlock</method>
                    </sc_cmsblocksaving>
                </observers>
            </model_save_before>
            <model_load_after>
                <observers>
                    <sc_cmsblocksaving>
                        <type>singleton</type>
                        <class>SnowCommerce_CMSBlockManagement_Model_Observer</class>
                        <method>LoadBlock</method>
                    </sc_cmsblocksaving>
                </observers>
            </model_load_after>
            <core_abstract_load_after>
                <observers>
                    <sc_cmsdefaultblocksaving>
                        <type>singleton</type>
                        <class>SnowCommerce_CMSBlockManagement_Model_Observer</class>
                        <method>DefaultBlockVersion</method>
                    </sc_cmsdefaultblocksaving>
                </observers>
            </core_abstract_load_after>
        </events>
    </global>
</config>