<?xml version="1.0"?>
<config>
    <modules>
        <SnowCommerce_CMSPagesVersions>
            <version>0.1.0</version>
        </SnowCommerce_CMSPagesVersions>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <sc_cmspagesversions>
                    <file>sc_cmspagesversions.xml</file>
                </sc_cmspagesversions>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <sc_cmspagesversions>
                <use>standard</use>
                <args>
                    <module>SnowCommerce_CMSPagesVersions</module>
                    <frontName>sc_cmspagesversions</frontName>
                </args>
            </sc_cmspagesversions>
        </routers>
    </admin>
    <global>
        <models>
            <sc_cmspagesversions>
                <class>SnowCommerce_CMSPagesVersions_Model</class>
                <resourceModel>sc_cmspagesversions_mysql4</resourceModel>
            </sc_cmspagesversions>
            <sc_cmspagesversions_mysql4>
                <class>SnowCommerce_CMSPagesVersions_Model_Mysql4</class>
                <entities>
                    <sc_cmspagesversions>
                        <table>sc_cmspagesversions</table>
                    </sc_cmspagesversions>
                </entities>
            </sc_cmspagesversions_mysql4>
        </models>
        <blocks>
            <sc_cmspagesversions>
                <class>SnowCommerce_CMSPagesVersions_Block</class>
            </sc_cmspagesversions>
        </blocks>
        <helpers>
            <sc_cmspagesversions>
                <class>SnowCommerce_CMSPagesVersions_Helper</class>
            </sc_cmspagesversions>
        </helpers>
        <resources>
            <sc_cmspagesversions_setup>
                <setup>
                    <module>SnowCommerce_CMSPagesVersions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sc_cmspagesversions_setup>
            <sc_cmspagesversions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sc_cmspagesversions_write>
            <sc_cmspagesversions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sc_cmspagesversions_read>
        </resources>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <sc_addversionsfield>
                        <type>singleton</type>
                        <class>SnowCommerce_CMSPagesVersions_Model_Observer</class>
                        <method>addPageVersionsField</method>
                    </sc_addversionsfield>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <cms_page_save_after>
                <observers>
                    <sc_cmspagesaving>
                        <type>singleton</type>
                        <class>SnowCommerce_CMSPagesVersions_Model_Observer</class>
                        <method>SavePageVersion</method>
                    </sc_cmspagesaving>
                </observers>
            </cms_page_save_after>
            <cms_page_load_after>
                <observers>
                    <sc_cmsdefaultpagesaving>
                        <type>singleton</type>
                        <class>SnowCommerce_CMSPagesVersions_Model_Observer</class>
                        <method>DefaultPageVersion</method>
                    </sc_cmsdefaultpagesaving>
                </observers>
            </cms_page_load_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <sc_cmspagesversions before="Mage_Adminhtml">SnowCommerce_CMSPagesVersions_Adminhtml</sc_cmspagesversions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>